<div class="picture-details-container">
    <div class="picture-description">
        <h4 class="picture-header"> {{picture.title}} </h4>
        <p class="picture-explanation"> {{picture.explanation}} </p>
        
        <p class="picture__footer">Date: {{picture.date}}</p>
        <p class="picture__footer">Author: {{picture.copyright}}</p>
        <p class="picture__footer">Url: {{picture.hdurl}}</p>
        <nav class="bottom__nav">
            <p class="bottom__nav__item" (click)="goBack()"><i class="fas fa-arrow-left bottom__nav__icon"></i>go back</p>
          </nav>
    </div>
    <a href={{picture.hdurl}} target="_blank">
    <img class="image" src={{picture.url}}>
    </a>
</div>

