<div class="container">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="input-group searchform-container">
    <div class="form-group">
      <label for="year">Select year</label>
      <select class="form-control custom-select" id="year" required [(ngModel)]="FormSettings.year" name="year"
        #name="ngModel">
        <option *ngFor="let yr of years" [value]="yr">{{yr}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="month">Select month</label>
      <select class="form-control custom-select" id="month" required [(ngModel)]="FormSettings.month" name="month"
      #name="ngModel">
        <option *ngFor="let mth of months" [value]="mth">{{mth}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="keywordSelect1">Keyword</label>
      <input type="text" class="form-control" id="keywordSelect1" [(ngModel)]="FormSettings.keyword" name="keyword">
    </div>

    <div class="custom-checkbox-container">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input form-control" id="searchInTitle" name="searchInTitle"
          [(ngModel)]="FormSettings.searchInTitle">
        <label class="custom-control-label" for="searchInTitle">Search in title</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input form-control" id="searchInExplanation"
          name="searchInExplanation" [(ngModel)]="FormSettings.searchInExplanation">
        <label class="custom-control-label" for="searchInExplanation">Search in explanation</label>
      </div>
    </div>

    <div class="button-search">
      <button class="btn btn-outline-success">Search</button>
    </div>
  </form>
</div>

<div class="toggler-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <ul class="navbar-nav nav__list">
      <li class="nav-link" (click)="getDetailView()"><i class="fas fa-list"></i></li>
      <!-- <li class="nav-item nav-link" (click)="getThView()"><i class="fas fa-th-list"></i></li>-->
    </ul>
  </nav>
</div>

<!-------------------Daily pictures list----------------------->

<div class="images-list">
  <table table table-hover>
    <div *ngFor="let pictureOfDay of $picturesOfDay | async ">
      <div *ngIf="(FormSettings.searchInTitle == true && pictureOfDay.title.match(FormSettings.keyword)) 
        || (FormSettings.searchInExplanation == true && pictureOfDay.explanation.match(FormSettings.keyword)) 
        || FormSettings.keyword == null
        || FormSettings.searchInTitle == false
        || FormSettings.searchInExplanation == false">
        <a [routerLink]="['../daily-picture-details', pictureOfDay.date]" routerLinkActive="active"
          class="images-list__link">
          <tbody>
            <tr scope="row">
              <td *ngIf="filterByDetail == true" class="images-list-item">{{pictureOfDay.date}}</td>
              <td *ngIf="filterByThumbnail == false" class="images-list-item">{{pictureOfDay.title}}</td>
              <td *ngIf="filterByDetail == true" class="images-list-item">{{pictureOfDay.author}}</td>
              <td *ngIf="filterByDetail == true" class="images-list-item">{{pictureOfDay.url}}</td>
            </tr>
          </tbody>
        </a>
      </div>
    </div>
  </table>

</div>
