$black: black;

$font_0: sans-serif;

%extend_1 {
  min-width: 150px;
  max-width: 150px;
  //margin: 20px;
}

p {
  margin: 0;
}

img {
  margin: 0;
}

.container {
  display: flex;
  padding-top: 20px;
  padding-left: 0;
  margin: 0;
}

.searchform-container {
  display: flex;
  padding-top: 20px;
  padding-left: 30px;
  margin: 0;
}

.checkbox-list-container {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 60px;
  margin: 0;
}

.custom-checkbox-container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 0;
}

.keyword-select {
  @extend %extend_1;
}



select.custom-select {
  @extend %extend_1;
}

.button-search {
  display: flex;
  margin-left: 50px;
  align-items: center;
  justify-items: flex-end;
}

.form-inline {
  display: flex;
  justify-self: flex-start;
  margin-top: 30px;
  min-width: 270px;
}

.thumbnail {
  padding: 10px;
  margin: 0;
}

.image {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
  margin: 0;
}

.images-list {
  display: flex;
  justify-self: flex-start;
  padding-left: 50px;
  padding-top: 30px;
}

.images-list-item {
  font-size: 0.9rem;
  padding: 5px;
}

h4 {
  font-family: $font_0;
  font-size: 0.8rem;
  text-justify: auto;
  max-width: 150px;
  margin: 0;
  padding: 5px;
}

a.images-list__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: $black;
}


