<div class="container">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="input-group searchform-container">

    <select class="custom-select">
      <option selected>Select year</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
    </select>

    <select class="custom-select">
      <option selected>Select month</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>

    <div class="keyword-select">
      <input id="keyword" placeholder="Enter a keyword" name="keyword" class="form-control"
        [(ngModel)]="FormSettings.keyword" required #nameField="ngModel" (blur)="onBlur(keywordField)"
        [class.field-error]="form.submitted && keywordField.invalid">
      <div [hidden]="!form.submitted || keywordField.valid" class="alert alert-danger">
      </div>
    </div>

    <div class="custom-checkbox-container">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Search in title</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck2">
      <label class="custom-control-label" for="customCheck2">Search in explanation</label>
    </div>
  </div>

    <div class="button-search">
      <button class="btn btn-outline-success">Search</button>
    </div>


    <div class="checkbox-list-container form-group">
      <div class="btn-group btn-group-sm btn-group-toggle">
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Earth"> Earth
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Sun"> Sun
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Moon"> Moon
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Mercury"> Mercury
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Venus"> Venus
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Mars"> Mars
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Jupiter"> Jupiter
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Saturn"> Saturn
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Uran"> Uran
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Neptun"> Neptun
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="checkboxList.Pluton"> Pluton
        </label>

      </div>
    </div>
  </form>
</div>

<div class="list-container">
  <div *ngFor="let pictureOfDay of PicturesOfDay">
    <div *ngIf="pictureOfDay.title.match(keywordValue) || pictureOfDay.explanation.match(keywordValue)"
      class="images-list">
      <a [routerLink]="['../daily-picture-details', pictureOfDay.date]" routerLinkActive="active">
      <img class="image" src={{pictureOfDay.hdurl}}>
      <p class="images-list-item"> {{pictureOfDay.title}} </p>
    </a>
    </div>
  </div>
</div>